In [1]:
import sys
from datasets import load_dataset

In [2]:
train_data = load_dataset('glue', 'mrpc', split='train')
eval_data = load_dataset('glue', 'mrpc', split='validation')
test_data = load_dataset('glue','mrpc',split='test')

Reusing dataset glue (C:\Users\LENOVO\.cache\huggingface\datasets\glue\mrpc\1.0.0\dacbe3125aa31d7f70367a07a8a9e72a5a0bfeb5fc42e75c9db75b96da6053ad)
Reusing dataset glue (C:\Users\LENOVO\.cache\huggingface\datasets\glue\mrpc\1.0.0\dacbe3125aa31d7f70367a07a8a9e72a5a0bfeb5fc42e75c9db75b96da6053ad)
Reusing dataset glue (C:\Users\LENOVO\.cache\huggingface\datasets\glue\mrpc\1.0.0\dacbe3125aa31d7f70367a07a8a9e72a5a0bfeb5fc42e75c9db75b96da6053ad)

In [3]:
import pandas as pd

train_df=pd.DataFrame(train_data)
val_df=pd.DataFrame(eval_data)
test_df=pd.DataFrame(test_data)

In [4]:
train_df.shape

(3668, 4)

In [5]:
val_df.shape

(408, 4)

In [6]:
test_df.shape

(1725, 4)

In [7]:
train_df.head()

,sentence1,sentence2,label,idx
0,"Amrozi accused his brother , whom he called "" ...","Referring to him as only "" the witness "" , Amr...",1,0
1,Yucaipa owned Dominick 's before selling the c...,Yucaipa bought Dominick 's in 1995 for $ 693 m...,0,1
2,They had published an advertisement on the Int...,"On June 10 , the ship 's owners had published ...",1,2
3,"Around 0335 GMT , Tab shares were up 19 cents ...","Tab shares jumped 20 cents , or 4.6 % , to set...",0,3
4,"The stock rose $ 2.11 , or about 11 percent , ...",PG & E Corp. shares jumped $ 1.63 or 8 percent...,1,4

In [9]:
train_df.to_csv("train_mrpc.csv",index=False)
val_df.to_csv("val_mrpc.csv",index=False)
test_df.to_csv("test_mrpc.csv",index=False)