In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("SQuAD_csv.csv")

In [3]:
df.shape

(86821, 6)

In [4]:
df.columns

Index(['Unnamed: 0', 'context', 'question', 'id', 'answer_start', 'text'], dtype='object')

In [5]:
df.drop(columns=['Unnamed: 0'],inplace=True)

In [6]:
df.head()

,context,question,id,answer_start,text
0,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,56be85543aeaaa14008c9063,269,in the late 1990s
1,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,What areas did Beyonce compete in when she was...,56be85543aeaaa14008c9065,207,singing and dancing
2,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce leave Destiny's Child and bec...,56be85543aeaaa14008c9066,526,2003
3,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,In what city and state did Beyonce grow up?,56bf6b0f3aeaaa14008c9601,166,"Houston, Texas"
4,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,In which decade did Beyonce become famous?,56bf6b0f3aeaaa14008c9602,276,late 1990s

In [7]:
def text_split(text):
    return len(text.split())

In [8]:
df['text']=df['text'].astype(str)

In [9]:
df['Answer_length']=df.text.apply(text_split)

In [10]:
df.head()

,context,question,id,answer_start,text,Answer_length
0,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,56be85543aeaaa14008c9063,269,in the late 1990s,4
1,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,What areas did Beyonce compete in when she was...,56be85543aeaaa14008c9065,207,singing and dancing,3
2,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce leave Destiny's Child and bec...,56be85543aeaaa14008c9066,526,2003,1
3,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,In what city and state did Beyonce grow up?,56bf6b0f3aeaaa14008c9601,166,"Houston, Texas",2
4,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,In which decade did Beyonce become famous?,56bf6b0f3aeaaa14008c9602,276,late 1990s,2

In [11]:
df.groupby('Answer_length').size()

Answer_length
1     31007
2     21412
3     12686
4      6345
5      4003
6      2513
7      1825
8      1369
9       968
10      778
11      636
12      536
13      437
14      390
15      344
16      244
17      240
18      225
19      161
20      149
21      131
22      120
23       99
24       64
25       60
26       35
27       23
28       10
29        3
30        6
31        1
43        1
dtype: int64

In [17]:
df_copy=df[df['Answer_length']>=10]

In [18]:
df_copy.shape

(4693, 6)

In [19]:
df_copy.head()

,context,question,id,answer_start,text,Answer_length
443,"In 2001, she became the first African-American...",Beyonce received the Pop Songwriter of the Yea...,56beb9203aeaaa14008c92d2,132,"American Society of Composers, Authors, and Pu...",10
451,"In 2001, she became the first African-American...",Who gave Beyoncé the Pop Songwriter of the Yea...,56d4df312ccc5a1400d832b7,128,"the American Society of Composers, Authors, an...",11
695,Beyoncé and her mother introduced House of Der...,What types of garments are sold by Beyonce's c...,56bed32f3aeaaa14008c94d2,670,"sportswear, denim offerings with fur, outerwea...",13
736,Beyoncé participated in George Clooney and Wyc...,What charity benefited from the release of th...,56bfeb09a10cfb1400551394,849,New York Police and Fire Widows' and Children'...,10
926,Four boarders at his parents' apartments becam...,What four boys from his family's boarding hous...,56cf67c74df3c31400b0d72d,68,"Tytus Woyciechowski, Jan Nepomucen Białobłocki...",10

In [20]:
df_copy.to_csv("SQuAD.csv",index=False)